<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0" />

    <title>ACR Services</title>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <nav class="black" role="navigation">
        <div class="nav-wrapper container">
            <a id="logo-container" href="#" class="brand-logo">ACR Services</a>
            <ul class="right hide-on-med-and-down">
                <li class="active"><a href="#">Home</a></li>
                <li class="active"><a href="#">Serviços</a></li>
                <li class="active">@Html.ActionLink("Contato", "Contact", "Home")</li>

            </ul>
            <ul id="nav-mobile" class="side-nav">
                <li class="active"><a href="#">Home</a></li>
                <li class="active"><a href="#">Serviços</a></li>
                <li class="active">@Html.ActionLink("Contato", "Contact", "Home")</li>

            </ul>
            <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
        </div>
    </nav>

    <div class="container">
        @RenderBody()
    </div>

    <footer class="page-footer red darken-4">
        <div class="container">

            <div class="row">
                <div class="col l6 s12">
                    <h5 class="white-text">Contato</h5>
                    <ul>
                        <li><span class="white-text" href="#!">Telefone: (031) 3047-2589</span></li>
                        <li><span class="white-text" href="#!">Email: comercial@@acrservices.com.br</span></li>
                        <li><span class="white-text" href="#!">Endereço: Rua Cora Coralina, 105 - Santa Helena, Belo Horizonte</span></li>

                    </ul>

                </div>
            </div>
        </div>

        <div class="footer-copyright">
            <div class="container">

                @@Feito por <a class="yellow-text text-lighten-3" href="#">ACR Services</a>
            </div>
        </div>
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/materialize")
    @RenderSection("scripts", required: false)

    <script>
        (function ($) {
            $(function () {

                $('.button-collapse').sideNav();

            }); // end of document ready
        })(jQuery); // end of jQuery name space
    </script>

</body>
</html>
